# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Ignore any file or folder starting with __
__*

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
